<a href="https://colab.research.google.com/github/chanlenium/Python/blob/main/CIS%20eFAS%20Industry%20DB%20Scraping/IT_EFAS_INDU_COMMON_DB/IT_EFAS_INDU_COMMON_DB_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#이 부분은 처음 한번만 실행하면 됌.
!pip install selenium
!apt-get update
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver/usr/bin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 4.9 MB/s
Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 50.4 MB/s
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.8/dist-packages (from selenium) (2022.12.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     |████████████████████████████████| 384 kB 53.1 MB/s
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (22.1.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 6.4 MB/s
Installing collected packages: sniffio, outcome, h11, exceptiongroup, async-generator, wsproto, urllib3, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.13 which is incompatible.
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 sniffio-1.3.0 trio-0.22.0 trio-websocket-0.9.2 urllib3-1.26.13 wsproto-1.2.0
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,237 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,144 kB]
Fetched 3,662 kB in 5s (811 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 20 not upgraded.
Need to get 95.6 MB of archives.
After this operation, 321 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 108.0.5359.71-0ubuntu0.18.04.5 [1,159 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 108.0.5359.71-0ubuntu0.18.04.5 [83.6 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 108.0.5359.71-0ubuntu0.18.04.5 [5,230 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 108.0.5359.71-0ubuntu0.18.04.5 [5,594 kB]
Fetched 95.6 MB in 5s (20.2 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_108.0.5359.71-0ubuntu0.18.04.5_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (108.0.5359.71-0ubuntu0.18.04.5) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_108.0.5359.71-0ubuntu0.18.04.5_amd64.deb ...
Unpacking chromium-browser (108.0.5359.71-0ubuntu0.18.04.5) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_108.0.5359.71-0ubuntu0.18.04.5_all.deb ...
Unpacking chromium-browser-l10n (108.0.5359.71-0ubuntu0.18.04.5) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_108.0.5359.71-0ubuntu0.18.04.5_amd64.deb ...
Unpacking chromium-chromedriver (108.0.5359.71-0ubuntu0.18.04.5) ...
Setting up chromium-codecs-ffmpeg-extra (108.0.5359.71-0ubuntu0.18.04.5) ...
Setting up chromium-browser (108.0.5359.71-0ubuntu0.18.04.5) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (108.0.5359.71-0ubuntu0.18.04.5) ...
Setting up chromium-browser-l10n (108.0.5359.71-0ubuntu0.18.04.5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...
cp: missing destination file operand after '/usr/lib/chromium-browser/chromedriver/usr/bin'
Try 'cp --help' for more information.

In [ ]:
import pandas as pd

# initialize list of lists
mappingData = [['1', '농림어업', ''],
['2', '광업', ''],
['3', '음식료', '(1401)음식료'],
['4', '섬유', '(1403)섬유'],
['5', '의류', '(1404)의류'],
['6', '가죽신발', '(1405)가죽·신발'],
['7', '목재', '(1406)목재'],
['8', '제지', '(1407)제지'],
['9', '인쇄', '(1408)인쇄'],
['10' '기타 제조업', '(1410)기타 제조업'],
['11', '석유정제', '(1301)석유정제'],
['12', '석유화학', '(1201)석유화학'],
['13', '정밀화학', '(1202)정밀화학'],
['14', '의약', '(1101)의약'],
['15', '타이어', ''],
['16' '(1302)고무'],
['17', '플라스틱', '(1303)플라스틱'],
['18', '유리', '(1304)유리'],
['19', '세라믹', '(1305)세라믹'],
['20', '시멘트', '(1306)시멘트'],
['21', '기타 비금속 광물', '(1307)기타 비금속 광물'],
['22', '철강', '(1308)철강'],
['23', '비철금속', '(1309)비철금속'],
['24', '주조', '(1310)주조'],
['25', '조립금속', '(1311)조립금속'],
['26', '반도체', '(1102)반도체'],
['27', '디스플레이', '(1103)디스플레이'],
['28', '기타 전자부품', ''],
['29', '컴퓨터', '(1104)컴퓨터'],
['30', '통신기기', '(1105)통신기기'],
['31', '가전', '(1106)가전'],
['32', '정밀기기', '(1107)정밀기기'],
['33', '전기기기', '(1204)전기기기'],
['34', '전지', '(1108)전지'],
['35', '일반목적기계', '(1205)일반목적기계'],
['36', '특수목적기계', '(1206)특수목적기계'],
['37', '자동차', '(1207)자동차'],
['38', '자동차부품', ''],
['39', '조선', '(1312)조선'],
['40', '기타 수송장비', '(1209)기타 수송장비'],
['41', '항공', '(1109)항공'],
['42', '가구', '(1409)가구'],
['43', '전기가스수도', ''],
['44', '폐수처리및자원재활용', ''],
['45', '건설', ''],
['46', '도소매', '(2101)도·소매업'],
['47', '육상창고', ''],
['48', '해운', ''],
['49', '항공운송', ''],
['50', '숙박·음식점', '(2401)숙박·음식점'],
['51', '출판', '(2201)출판'],
['52', '방송', '(2202)방송'],
['53', '통신', '(2203)통신'],
['54', '정보', '(2204)정보'],
['55', '금융·보험', '(2205)금융·보험'],
['56', '부동산', '(2206)부동산'],
['57', '전문·과학기술', '(2208)전문·과학기술'],
['58', '사업시설관리서비스', '(2209)사업시설관리서비스'],
['59', '사업지원', '(2210)사업지원'],
['60', '임대', '(2207)임대'],
['61', '공공행정', ''],
['62', '교육', '(2303)교육'],
['63', '의료·보건', '(2304)의료·보건'],
['64', '사회복지', '(2305)사회복지'],
['65', '예술·스포츠·여가', '(2402)예술·스포츠·여가'],
['66', '기타 서비스','(2403)기타 서비스']]
 
# Create the pandas DataFrame
dfEFAStoISTANSMAP = pd.DataFrame(mappingData, columns=['EFAS_CD', 'EFAS_NM', 'ISTANS_NM'])
# print dataframe.
dfEFAStoISTANSMAP

   EFAS_CD    EFAS_NM        ISTANS_NM
0        1       농림어업
1        2         광업
2        3        음식료        (1401)음식료
3        4         섬유         (1403)섬유
4        5         의류         (1404)의류
..     ...        ...              ...
61      62         교육         (2303)교육
62      63      의료·보건      (2304)의료·보건
63      64       사회복지       (2305)사회복지
64      65  예술·스포츠·여가  (2402)예술·스포츠·여가
65      66     기타 서비스     (2403)기타 서비스

[66 rows x 3 columns]

In [ ]:
import time
from datetime import date
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

#Since Colab does not make web browser by default, set the web browser 
options = webdriver.ChromeOptions()
options.add_argument('--headless')        # Set Head-less
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

def iSTANSCall(istansUrl):
  browser = webdriver.Chrome('chromedriver', options=options)
  browser.get(istansUrl)  # Get data from istansUrl
  time.sleep(20) 
  # Move to inner iframe to set query condition ("newSuTabMain > searchFrame")
  browser.switch_to.frame("newSuTabMain")
  browser.switch_to.frame("searchFrame")
  # Set query condition : From JAN 2010
  select = Select(browser.find_element(By.XPATH, '//*[@id="df_period"]'))
  #print(select.first_selected_option.get_attribute("value"))
  select.select_by_visible_text('월')
  select.select_by_value('4')
  time.sleep(10)
  select = Select(browser.find_element(By.XPATH, '//*[@id="from_year_month"]'))
  select.select_by_visible_text('2010')
  select.select_by_value('2010')
  time.sleep(10)
  select = Select(browser.find_element(By.XPATH, '//*[@id="from_month"]'))
  select.select_by_visible_text('1')
  select.select_by_value('1')
  time.sleep(10)
  browser.find_element(By.XPATH, '//*[@id="resultDiv"]/div[1]/div[1]/a').send_keys(Keys.ENTER)  # Click 'Query' button
  time.sleep(30)
  # Get HTML page source (Append Header, Body, and induName)
  dfHeader = pd.read_html(browser.page_source)[2]
  dfBody = pd.read_html(browser.page_source)[4]
  induName = pd.read_html(browser.page_source)[3]
  dfBody.iloc[:,0] = induName.iloc[:,[1]].values
  dfIStansResult = dfHeader.append(dfBody)
  # Refine Dataframe
  dfIStansResult.reset_index(drop=False)
  dfIStansResult.iloc[0, 0] = 'iStansInduNM'
  dfIStansResult.columns = dfIStansResult.iloc[0]
  dfIStansResult = dfIStansResult[1:]
  # Chage data to long type using 'melt' function
  dfIStansResult = pd.melt(dfIStansResult, id_vars=['iStansInduNM'], value_name='indexValue').sort_values('iStansInduNM')
  dfIStansResult.rename(columns={0 : 'STD_YM'}, inplace = True)
  dfIStansResult['STD_YM'] = dfIStansResult['STD_YM'].str.replace('년 ', '')
  dfIStansResult['STD_YM'] = dfIStansResult['STD_YM'].str.replace('월', '')
  dfIStansResult = dfIStansResult.reset_index().merge(dfEFAStoISTANSMAP, left_on='iStansInduNM', right_on='ISTANS_NM', how="inner")       
  # Move browser to main Frame
  browser.switch_to.default_content()
  WebDriverWait(browser, 10).until(EC.frame_to_be_available_and_switch_to_it((By.ID,"newSuTabMain")))
  browser.close()
  return dfIStansResult

In [ ]:
# 생산지수(원지수) : Istans > 주제별 통계 > 산업동향지수 > 생산지수(원지수)
url = "https://istans.or.kr/su/newSuTab.do?scode=S120" 
iSTANSCallResult = iSTANSCall(url)
dfPRODUC_INDEX = iSTANSCallResult.rename(columns = {'indexValue':'PRODUC_INDEX'})

# 서비스업생산지수(원지수, 불변지수) : Istans > 주제별 통계 > 산업동향지수 > 서비스업생산지수(불변지수)
url = "https://istans.or.kr/su/newSuTab.do?scode=S358" 
iSTANSCallResult = iSTANSCall(url)
dfServPRODUC_INDEX = iSTANSCallResult.rename(columns = {'indexValue':'PRODUC_INDEX'})

dfPRODUC_INDEX = dfPRODUC_INDEX.append(dfServPRODUC_INDEX)
dfPRODUC_INDEX = dfPRODUC_INDEX[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'PRODUC_INDEX']]
dfPRODUC_INDEX.drop_duplicates(inplace=True)
display(dfPRODUC_INDEX)

      STD_YM EFAS_CD EFAS_NM PRODUC_INDEX
0     201708      14      의약        114.0
1     201707      14      의약        124.3
2     201101      14      의약        96.25
3     202107      14      의약        157.6
4     201010      14      의약        96.72
...      ...     ...     ...          ...
5223  201712      66  기타 서비스       113.41
5225  201801      66  기타 서비스        97.68
5227  201802      66  기타 서비스        88.84
5229  201803      66  기타 서비스        104.6
5231  201804      66  기타 서비스       101.36

[8008 rows x 4 columns]

In [ ]:
# 생산지수(계절조정) : Istans > 주제별 통계 > 산업동향지수 > 생산지수(계절조정)
url = "https://istans.or.kr/su/newSuTab.do?scode=S350" 
iSTANSCallResult = iSTANSCall(url)
dfPRODUC_INDEX_GAE = iSTANSCallResult.rename(columns = {'indexValue':'PRODUC_INDEX_GAE'})

# 서비스업생산지수(계절조정) : Istans > 주제별 통계 > 산업동향지수 > 생산지수(계절조정)
url = "https://istans.or.kr/su/newSuTab.do?scode=S359" 
iSTANSCallResult = iSTANSCall(url)
dfServPRODUC_INDEX_GAE = iSTANSCallResult.rename(columns = {'indexValue':'PRODUC_INDEX_GAE'})

dfPRODUC_INDEX_GAE = dfPRODUC_INDEX_GAE.append(dfServPRODUC_INDEX_GAE)
dfPRODUC_INDEX_GAE = dfPRODUC_INDEX_GAE[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'PRODUC_INDEX_GAE']]
dfPRODUC_INDEX_GAE.drop_duplicates(inplace=True)
display(dfPRODUC_INDEX_GAE)

      STD_YM EFAS_CD EFAS_NM PRODUC_INDEX_GAE
0     201708      14      의약            122.4
1     201707      14      의약            121.3
2     201101      14      의약            98.53
3     202107      14      의약            150.6
4     201010      14      의약            94.21
...      ...     ...     ...              ...
5223  201712      66  기타 서비스           101.38
5225  201801      66  기타 서비스           100.49
5227  201802      66  기타 서비스           101.35
5229  201803      66  기타 서비스           102.51
5231  201804      66  기타 서비스            100.8

[8008 rows x 4 columns]

In [ ]:
dfPRODUC_INDEX_GAE

      STD_YM EFAS_CD EFAS_NM PRODUC_INDEX_GAE
0     201708      14      의약            122.4
1     201707      14      의약            121.3
2     201101      14      의약            98.53
3     202107      14      의약            150.6
4     201010      14      의약            94.21
...      ...     ...     ...              ...
5223  201712      66  기타 서비스           101.38
5225  201801      66  기타 서비스           100.49
5227  201802      66  기타 서비스           101.35
5229  201803      66  기타 서비스           102.51
5231  201804      66  기타 서비스            100.8

[8008 rows x 4 columns]

In [ ]:
# 출하지수(원지수) : Istans > 주제별 통계 > 산업동향지수 > 출하지수(원지수)
url = "https://istans.or.kr/su/newSuTab.do?scode=S351"
iSTANSCallResult = iSTANSCall(url)
dfSHIPMENT_INDEX = iSTANSCallResult.rename(columns = {'indexValue':'SHIPMENT_INDEX'})
dfSHIPMENT_INDEX = dfSHIPMENT_INDEX[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'SHIPMENT_INDEX']]
dfSHIPMENT_INDEX.drop_duplicates(inplace=True)
display(dfSHIPMENT_INDEX)

       STD_YM EFAS_CD EFAS_NM SHIPMENT_INDEX
0      201708      14      의약          109.4
1      201707      14      의약          115.9
2      201101      14      의약          87.88
3      202107      14      의약          152.1
4      201010      14      의약          92.87
...       ...     ...     ...            ...
10753  201809      42      가구           89.6
10760  201311      42      가구          98.85
10770  202005      42      가구          103.7
10771  201509      42      가구           94.4
10773  201807      42      가구           98.8

[5390 rows x 4 columns]

In [ ]:
# 출하지수(계절조정) : Istans > 주제별 통계 > 산업동향지수 > 출하지수(계절조정)
url = "https://istans.or.kr/su/newSuTab.do?scode=S352"
iSTANSCallResult = iSTANSCall(url)
dfSHIPMENT_INDEX_GAE = iSTANSCallResult.rename(columns = {'indexValue':'SHIPMENT_INDEX_GAE'})
dfSHIPMENT_INDEX_GAE = dfSHIPMENT_INDEX_GAE[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'SHIPMENT_INDEX_GAE']]
dfSHIPMENT_INDEX_GAE.drop_duplicates(inplace=True)
display(dfSHIPMENT_INDEX_GAE)

       STD_YM EFAS_CD EFAS_NM SHIPMENT_INDEX_GAE
0      201708      14      의약              116.3
1      201707      14      의약              116.0
2      201101      14      의약              90.66
3      202107      14      의약              148.4
4      201010      14      의약              89.77
...       ...     ...     ...                ...
10753  201809      42      가구              100.9
10760  201311      42      가구              93.01
10770  202005      42      가구              106.7
10771  201509      42      가구              102.0
10773  201807      42      가구              105.9

[5390 rows x 4 columns]

In [ ]:
# 재고지수(원지수) : Istans > 주제별 통계 > 산업동향지수 > 재고지수(원지수)
url = "https://istans.or.kr/su/newSuTab.do?scode=S353"
iSTANSCallResult = iSTANSCall(url)
dfINVENTORY_INDEX = iSTANSCallResult.rename(columns = {'indexValue':'INVENTORY_INDEX'})
dfINVENTORY_INDEX = dfINVENTORY_INDEX[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'INVENTORY_INDEX']]
dfINVENTORY_INDEX.drop_duplicates(inplace=True)
display(dfINVENTORY_INDEX)

       STD_YM EFAS_CD EFAS_NM INVENTORY_INDEX
0      201708      14      의약             NaN
1      201707      14      의약             NaN
2      201101      14      의약             NaN
3      202107      14      의약             NaN
4      201010      14      의약             NaN
...       ...     ...     ...             ...
10753  201809      42      가구           151.3
10760  201311      42      가구          115.61
10770  202005      42      가구           132.4
10771  201509      42      가구           100.2
10773  201807      42      가구           144.6

[5390 rows x 4 columns]

In [ ]:
# 재고지수(계절조정) : Istans > 주제별 통계 > 산업동향지수 > 재고지수(계절조정)
url = "https://istans.or.kr/su/newSuTab.do?scode=S354"
iSTANSCallResult = iSTANSCall(url)
dfINVENTORY_INDEX_GAE = iSTANSCallResult.rename(columns = {'indexValue':'INVENTORY_INDEX_GAE'})
dfINVENTORY_INDEX_GAE = dfINVENTORY_INDEX_GAE[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'INVENTORY_INDEX_GAE']]
dfINVENTORY_INDEX_GAE.drop_duplicates(inplace=True)
display(dfINVENTORY_INDEX_GAE)

       STD_YM EFAS_CD EFAS_NM INVENTORY_INDEX_GAE
0      201708      14      의약                 NaN
1      201707      14      의약                 NaN
2      201101      14      의약                 NaN
3      202107      14      의약                 NaN
4      201010      14      의약                 NaN
...       ...     ...     ...                 ...
10753  201809      42      가구               152.1
10760  201311      42      가구               113.1
10770  202005      42      가구               128.6
10771  201509      42      가구               100.0
10773  201807      42      가구               146.9

[5390 rows x 4 columns]

In [ ]:
# 가동률지수(원지수) : Istans > 주제별 통계 > 산업동향지수 > 가동률지수(원지수)
url = "https://istans.or.kr/su/newSuTab.do?scode=S355"
iSTANSCallResult = iSTANSCall(url)
dfOPER_RATE_INDEX = iSTANSCallResult.rename(columns = {'indexValue':'OPER_RATE_INDEX'})
dfOPER_RATE_INDEX = dfOPER_RATE_INDEX[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'OPER_RATE_INDEX']]
dfOPER_RATE_INDEX.drop_duplicates(inplace=True)
display(dfOPER_RATE_INDEX)

       STD_YM EFAS_CD EFAS_NM OPER_RATE_INDEX
0      201708      14      의약             NaN
1      201707      14      의약             NaN
2      201101      14      의약             NaN
3      202107      14      의약             NaN
4      201010      14      의약             NaN
...       ...     ...     ...             ...
10753  201809      42      가구           104.4
10760  201311      42      가구          110.61
10770  202005      42      가구            96.3
10771  201509      42      가구            96.7
10773  201807      42      가구           116.1

[5390 rows x 4 columns]

In [ ]:
# 가동률지수(계절조정) : Istans > 주제별 통계 > 산업동향지수 > 가동률지수(계절조정)
url = "https://istans.or.kr/su/newSuTab.do?scode=S356"
iSTANSCallResult = iSTANSCall(url)
dfOPER_RATE_INDEX_GAE = iSTANSCallResult.rename(columns = {'indexValue':'OPER_RATE_INDEX_GAE'})
dfOPER_RATE_INDEX_GAE = dfOPER_RATE_INDEX_GAE[['STD_YM', 'EFAS_CD', 'EFAS_NM', 'OPER_RATE_INDEX_GAE']]
dfOPER_RATE_INDEX_GAE.drop_duplicates(inplace=True)
display(dfOPER_RATE_INDEX_GAE)

       STD_YM EFAS_CD EFAS_NM OPER_RATE_INDEX_GAE
0      201708      14      의약                 NaN
1      201707      14      의약                 NaN
2      201101      14      의약                 NaN
3      202107      14      의약                 NaN
4      201010      14      의약                 NaN
...       ...     ...     ...                 ...
10753  201809      42      가구               116.4
10760  201311      42      가구              102.17
10770  202005      42      가구                99.8
10771  201509      42      가구               103.5
10773  201807      42      가구               123.6

[5390 rows x 4 columns]

In [ ]:
# compile the list of dataframes you want to merge
df_list = [dfPRODUC_INDEX, dfPRODUC_INDEX_GAE, dfSHIPMENT_INDEX, dfSHIPMENT_INDEX_GAE, dfINVENTORY_INDEX, dfINVENTORY_INDEX_GAE, dfOPER_RATE_INDEX, dfOPER_RATE_INDEX_GAE]
# grab first dataframe
IT_EFAS_INDU_COMMON_DB= df_list[0]
# loop through all but first data frame
for to_merge in df_list[1:]:
    # result of merge replaces first or previously merged data frame w/ all previous fields
    IT_EFAS_INDU_COMMON_DB = IT_EFAS_INDU_COMMON_DB.merge(to_merge, left_on=['STD_YM', 'EFAS_CD', 'EFAS_NM'], right_on=['STD_YM', 'EFAS_CD', 'EFAS_NM'], how="outer")
    
IT_EFAS_INDU_COMMON_DB.drop_duplicates(inplace=True)
IT_EFAS_INDU_COMMON_DB.set_index('STD_YM', inplace=True)
IT_EFAS_INDU_COMMON_DB['EFAS_CD'] = pd.to_numeric(IT_EFAS_INDU_COMMON_DB['EFAS_CD'])
IT_EFAS_INDU_COMMON_DB = IT_EFAS_INDU_COMMON_DB.sort_values(['STD_YM', 'EFAS_CD'], ascending = [True, True])
IT_EFAS_INDU_COMMON_DB['EFAS_CD'] = IT_EFAS_INDU_COMMON_DB['EFAS_CD'].astype(str)

today = date.today()
IT_EFAS_INDU_COMMON_DB.to_excel(f'{today}_IT_EFAS_INDU_COMMON_DB.xlsx')

IT_EFAS_INDU_COMMON_DB

,EFAS_CD,EFAS_NM,PRODUC_INDEX,PRODUC_INDEX_GAE,SHIPMENT_INDEX,SHIPMENT_INDEX_GAE,INVENTORY_INDEX,INVENTORY_INDEX_GAE,OPER_RATE_INDEX,OPER_RATE_INDEX_GAE
STD_YM,,,,,,,,,,
201001,3,음식료,90.74,89.38,89.58,89.17,70.03,71.76,99.98,96.86
201001,4,섬유,103.33,106.7,100.69,106.53,80.99,80.21,101.87,103.74
201001,5,의류,128.84,119.3,117.69,112.61,93.89,92.54,NaN,NaN
201001,6,가죽신발,99.35,97.33,99.49,98.94,80.47,81.31,109.82,107.37
201001,7,목재,98.27,105.62,94.92,104.48,99.8,97.91,88.95,95.18
...,...,...,...,...,...,...,...,...,...,...
202210,62,교육,90.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202210,63,의료·보건,157.51,156.36,NaN,NaN,NaN,NaN,NaN,NaN
202210,64,사회복지,119.29,119.11,NaN,NaN,NaN,NaN,NaN,NaN
202210,65,예술·스포츠·여가,103.11,97.71,NaN,NaN,NaN,NaN,NaN,NaN
202210,66,기타 서비스,104.05,99.48,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Add EXPORT_MDOLLAR and EMPORT_MDOLLAR table
dfEfasExportImort = pd.read_excel('IT_EFAS_INDU_COMMON_DB.xlsx')

IT_EFAS_INDU_COMMON_DB = IT_EFAS_INDU_COMMON_DB.merge(dfEfasExportImort, left_on=['STD_YM', 'EFAS_CD', 'EFAS_NM'], right_on=['STD_YM', 'EFAS_CD', 'EFAS_NM'], how="left")
IT_EFAS_INDU_COMMON_DB.drop_duplicates(inplace=True)
IT_EFAS_INDU_COMMON_DB.set_index('STD_YM', inplace=True)
IT_EFAS_INDU_COMMON_DB['EFAS_CD'] = pd.to_numeric(IT_EFAS_INDU_COMMON_DB['EFAS_CD'])
IT_EFAS_INDU_COMMON_DB = IT_EFAS_INDU_COMMON_DB.sort_values(['STD_YM', 'EFAS_CD'], ascending = [True, True])
IT_EFAS_INDU_COMMON_DB['EFAS_CD'] = IT_EFAS_INDU_COMMON_DB['EFAS_CD'].astype(str)