In [3]:

import urllib3
import certifi
import pandas as pd
import requests

from urllib3.exceptions import InsecureRequestWarning
# 경고 끄기
urllib3.disable_warnings(InsecureRequestWarning)

# from datetime import date
# today = date.today()

startYYYYMM = '201801'
endYYYYMM = '202212'

startYYYYQQ = '201801'
endYYYYQQ = '202212'

startYYYY = '2018'
endYYYY = '2022'

apiKey = 'NjgwMjNjNTc0NTBlZWM5Y2JjMmQ0YWEyNTIzMjhhNmM'

In [4]:
# URL request 함수
def urlRequest(url):
    r = requests.get(url, verify=False)
    jo = r.json()
    return  pd.DataFrame(jo)

In [293]:
# 총인구수(전국/시도/시/군/구)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T00+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe={startYYYY}&endPrdDe={endYYYY}&orgId=101&tblId=INH_1IN1503_01'
df = urlRequest(url)
tempDf = df[['ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy() 

# 'DT' 컬럼 네임 교체
newColName = tempDf['ITM_NM'].unique()[0]
tempDf.rename(columns={'DT': newColName}, inplace=True)
populationDf = tempDf[['PRD_DE', 'C1_NM', newColName]]
populationDf

     PRD_DE C1_NM    총인구(명)
0      2018    전국  51629512
1      2019    전국  51779203
2      2020    전국  51829136
3      2021    전국  51738071
4      2022    전국  51692272
...     ...   ...       ...
1390   2018  서귀포시    175350
1391   2019  서귀포시    177360
1392   2020  서귀포시    178552
1393   2021  서귀포시    179238
1394   2022  서귀포시    181094

[1395 rows x 3 columns]

In [287]:


# 총인구수(전국/시도/시/군/구)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T00+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe={startYYYY}&endPrdDe={endYYYY}&orgId=101&tblId=INH_1IN1503_01'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df 

# 'DT' 컬럼 네임을 '총인구(명)'으로 교체
newColName = temp_df['ITM_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

     PRD_DE C1_NM    총인구(명)
0      2018    전국  51629512
1      2019    전국  51779203
2      2020    전국  51829136
3      2021    전국  51738071
4      2022    전국  51692272
...     ...   ...       ...
1390   2018  서귀포시    175350
1391   2019  서귀포시    177360
1392   2020  서귀포시    178552
1393   2021  서귀포시    179238
1394   2022  서귀포시    181094

[1395 rows x 3 columns]

In [78]:
# 총가구수(전국/시도/시/군/구)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T1100+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2019&endPrdDe=2023&orgId=101&tblId=INH_1JC1501'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()
temp_df 

# 'DT' 컬럼 네임을 '총가구(가구)'으로 교체
newColName = temp_df['ITM_NM'].unique()[0]
newColName = newColName[:3]+'('+newColName[4:6]+')'
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

     PRD_DE C1_NM   총가구(가구)
0      2019    전국  20891348
1      2020    전국  21484785
2      2021    전국  22022753
3      2022    전국  22383187
4      2023    전국  22728163
...     ...   ...       ...
1390   2019  서귀포시     71461
1391   2020  서귀포시     73627
1392   2021  서귀포시     76208
1393   2022  서귀포시     77847
1394   2023  서귀포시     78369

[1395 rows x 3 columns]

In [87]:
# 총주택수(전국/시도/시/군/구)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T10+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2019&endPrdDe=2023&orgId=101&tblId=INH_1JU1501'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()
temp_df 

# 'DT' 컬럼 네임을 '주택(호)'으로 교체
newColName = f"{temp_df['ITM_NM'].unique()[0]}({temp_df['UNIT_NM'].unique()[0]})"
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

     PRD_DE C1_NM     주택(호)
0      2019    전국  18126954
1      2020    전국  18525844
2      2021    전국  18811627
3      2022    전국  19155585
4      2023    전국  19546299
...     ...   ...       ...
1390   2019  서귀포시     71357
1391   2020  서귀포시     72684
1392   2021  서귀포시     74077
1393   2022  서귀포시     75092
1394   2023  서귀포시     76590

[1395 rows x 3 columns]

In [162]:
# 소상공인 경기동향(BSI) 지수 (소상공인, 부문별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202506&orgId=142&tblId=DT_S0001N_001'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']
filter_2 = ['경기전반', '매출', '영업이익', '자금사정', '원재료조달사정', '재고', '고용', '비용상황', '구매고객수']

# 조건 조합 반복
for s in filter_1:
    for p in filter_2:
        # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
        # (예) '소상공인 부문별_비용상황_체감' => '소상공인_부문별'
        newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{p}_{s}"        
        filtered = temp_df[(temp_df['ITM_NM'] == s) & (temp_df['C1_NM'] == p)]
        split_dfs[newColName] = filtered.copy()
        split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
        split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
        # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
        split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]
        
# split_dfs['소상공인 부문별_비용상황_체감']

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})

# DataFrame Join
df_merged = df.copy()
for name, sub in split_dfs.items():
    df_merged = df_merged.merge(sub.iloc[:, [2, 4]], on='PRD_DE', how='left', suffixes=('', '_dup'))  # 필요에 따라 'outer' 등으로 변경
df_merged
#df_merged.to_excel("output.xlsx")

,PRD_DE,소상공인 부문별_경기전반_체감,소상공인 부문별_매출_체감,소상공인 부문별_영업이익_체감,소상공인 부문별_자금사정_체감,소상공인 부문별_원재료조달사정_체감,소상공인 부문별_재고_체감,소상공인 부문별_고용_체감,소상공인 부문별_비용상황_체감,소상공인 부문별_구매고객수_체감,소상공인 부문별_경기전반_전망,소상공인 부문별_매출_전망,소상공인 부문별_영업이익_전망,소상공인 부문별_자금사정_전망,소상공인 부문별_원재료조달사정_전망,소상공인 부문별_재고_전망,소상공인 부문별_고용_전망,소상공인 부문별_비용상황_전망,소상공인 부문별_구매고객수_전망
0,2018Q1,79.7,80.1,79.9,80,94,NaN,NaN,NaN,NaN,103,102.4,102.1,100.6,102.9,NaN,NaN,NaN,NaN
1,2018Q2,62.2,61.7,61.7,63.3,90.8,NaN,NaN,NaN,NaN,84.7,84.3,84.2,84.8,97.2,NaN,NaN,NaN,NaN
2,2018Q3,67.9,68.2,67.5,69.7,87.8,NaN,NaN,NaN,NaN,99.4,99.1,99,98.7,103.6,NaN,NaN,NaN,NaN
3,2018Q4,62.1,61.9,61.9,63.6,95.6,NaN,NaN,NaN,NaN,86.8,87.1,86.8,86.8,97.2,NaN,NaN,NaN,NaN
4,2019Q1,73.3,73.3,73.2,73.6,93.3,NaN,NaN,NaN,NaN,96,95.6,95.5,95.1,103.7,NaN,NaN,NaN,NaN
5,2019Q2,65.6,65.8,65.7,65.8,89.5,NaN,NaN,NaN,NaN,82.1,81.9,81.6,81.9,97.4,NaN,NaN,NaN,NaN
6,2019Q3,76.4,76.5,76.5,76.9,98.7,NaN,NaN,NaN,NaN,92,91.9,91.9,90.2,97,NaN,NaN,NaN,NaN
7,2019Q4,66.4,64.8,64.8,66.8,94.3,NaN,NaN,NaN,NaN,85.8,86.1,85.9,86,97.6,NaN,NaN,NaN,NaN
8,2020Q1,29.7,29.3,NaN,31.3,NaN,105.8,98.4,NaN,NaN,94.1,94.3,NaN,93.7,NaN,99.9,99.4,NaN,NaN
9,2020Q2,82.6,82.4,NaN,81.8,NaN,101.3,99.8,NaN,NaN,98.9,99,NaN,98.3,NaN,100.7,100,NaN,NaN
10,2020Q3,54.9,54.2,NaN,55.2,NaN,102.3,99.8,NaN,NaN,94.1,94,NaN,92.7,NaN,98.7,99.5,NaN,NaN
11,2020Q4,51.6,51.3,NaN,52.3,NaN,101.3,99.8,NaN,NaN,95.9,95.5,NaN,95.2,NaN,100.1,100,NaN,NaN
12,2021Q1,59.2,56.1,NaN,49.9,NaN,105.9,99.7,NaN,NaN,75,70.4,NaN,62.4,NaN,99.2,99.2,NaN,NaN
13,2021Q2,53.6,51.5,NaN,49.5,NaN,100.9,99.6,NaN,NaN,71.5,68.8,NaN,63.8,NaN,97.2,96.9,NaN,NaN
14,2021Q3,57.6,58.8,NaN,51.3,NaN,100,95.8,NaN,NaN,65.2,65.6,NaN,58.3,NaN,95.8,96.4,NaN,NaN
15,2021Q4,39.3,41.6,NaN,38.8,NaN,107.5,98.4,NaN,NaN,85.4,83.3,NaN,77.5,NaN,98.3,99.5,NaN,NaN
16,2022Q1,54.4,52,NaN,55.4,NaN,NaN,NaN,104.2,53.9,83.3,76.5,NaN,72.9,NaN,NaN,NaN,98.5,79.4
17,2022Q2,65.3,66.6,NaN,70.6,NaN,NaN,NaN,110.9,68,87.1,85.5,NaN,83.7,NaN,NaN,NaN,106.4,85.6
18,2022Q3,71.6,72.7,NaN,72.3,NaN,NaN,NaN,112.6,73.5,89.9,88.3,NaN,85.3,NaN,NaN,NaN,108.5,88.6
19,2022Q4,56.5,56.8,NaN,59.5,NaN,NaN,NaN,109,59,82,83,NaN,81,NaN,NaN,NaN,106.6,82.9

In [8]:
df['C1_NM'].unique()

전국	00
서울특별시	11
부산광역시	21
대구광역시	22
인천광역시	23
광주광역시	24
대전광역시	25
울산광역시	26
세종특별자치시	29
경기도	31
강원도	32
충청북도	33
충청남도	34
전라북도	35
전라남도	36
경상북도	37
경상남도	38
제주특별자치도	39

array(['전국', '서울특별시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구',
       '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구',
       '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구',
       '부산광역시', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구',
       '사하구', '금정구', '연제구', '수영구', '사상구', '기장군', '대구광역시', '수성구', '달서구',
       '달성군', '군위군', '인천광역시', '연수구', '남동구', '부평구', '계양구', '미추홀구', '강화군',
       '옹진군', '광주광역시', '광산구', '대전광역시', '유성구', '대덕구', '울산광역시', '울주군',
       '세종특별자치시', '세종시', '경기도', '수원시', '장안구', '권선구', '팔달구', '영통구', '성남시',
       '수정구', '중원구', '분당구', '의정부시', '안양시', '만안구', '동안구', '부천시', '광명시',
       '평택시', '동두천시', '안산시', '상록구', '단원구', '고양시', '덕양구', '일산동구', '일산서구',
       '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시',
       '처인구', '기흥구', '수지구', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시',
       '양주시', '포천시', '여주시', '연천군', '가평군', '양평군', '강원특별자치도', '춘천시', '원주시',
       '강릉시', '동해시', '태백시', '속초시', '삼척시', '홍천군', '횡성군', '영월군', '평창군',
       '정선군', '철원군', '화천군', '양구군', '인제군', '고성군', '양양군', '충청북도', '충주시',
       '제천시', '청주시', '상당구', '서원구', '흥덕구', '청원구', '보은군', '옥천군', '영동군',
       '진천군', '괴산군', '음성군', '단양군', '증평군', '충청남도', '천안시', '동남구', '서북구',
       '공주시', '보령시', '아산시', '서산시', '논산시', '계룡시', '당진시', '금산군', '부여군',
       '서천군', '청양군', '홍성군', '예산군', '태안군', '전북특별자치도', '전주시', '완산구', '덕진구',
       '군산시', '익산시', '정읍시', '남원시', '김제시', '완주군', '진안군', '무주군', '장수군',
       '임실군', '순창군', '고창군', '부안군', '전라남도', '목포시', '여수시', '순천시', '나주시',
       '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군', '화순군', '장흥군', '강진군',
       '해남군', '영암군', '무안군', '함평군', '영광군', '장성군', '완도군', '진도군', '신안군',
       '경상북도', '포항시', '경주시', '김천시', '안동시', '구미시', '영주시', '영천시', '상주시',
       '문경시', '경산시', '의성군', '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군',
       '칠곡군', '예천군', '봉화군', '울진군', '울릉군', '경상남도', '진주시', '통영시', '사천시',
       '김해시', '밀양시', '거제시', '양산시', '창원시', '의창구', '성산구', '마산합포구', '마산회원구',
       '진해구', '의령군', '함안군', '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군',
       '합천군', '제주특별자치도', '제주시', '서귀포시'], dtype=object)

In [196]:
# 소상공인 경기동향(BSI) 지수 (소상공인, 업종별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202212&orgId=142&tblId=DT_S0001N_002'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']

# 조건 조합 반복
for s in filter_1:
    # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
    # (예) '소상공인 부문별_비용상황_체감' => '소상공인_부문별'
    newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]
        
split_dfs['소상공인 업종별_체감']

# '체감', '전망' 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df[['PRD_DE', 'C1_NM']].copy()
for name, sub in split_dfs.items():
    temp_df_merged = temp_df_merged.merge(sub.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경
#temp_df_merged


# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df_merged, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged

     PRD_DE       C1_NM 소상공인 업종별_체감 소상공인 업종별_전망
0    2018Q1         소매업        73.1       103.5
1    2018Q1        음식점업        75.7       100.4
2    2018Q1        부동산업        76.4       103.4
3    2018Q1   전문과학 기술사업        92.7       108.9
4    2018Q1     교육 서비스업        93.3       110.5
..      ...         ...         ...         ...
175  2022Q4     교육 서비스업        72.7        86.7
176  2022Q4  스포츠 및 오락관련        55.5        91.9
177  2022Q4         수리업        52.1        74.4
178  2022Q4     개인 서비스업        53.6        81.7
179  2022Q4         제조업          63        80.8

[180 rows x 4 columns]

In [198]:
# 소상공인 경기동향(BSI) 지수 (소상공인, 지역별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=142&tblId=DT_S0001N_005'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']

# 조건 조합 반복
for s in filter_1:
    # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
    # (예) '소상공인 부문별_비용상황_체감' => '소상공인_부문별'
    newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]
        
# '체감', '전망' 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df[['PRD_DE', 'C1_NM']].copy()
for name, sub in split_dfs.items():
    temp_df_merged = temp_df_merged.merge(sub.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경
#temp_df_merged

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df_merged, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged

     PRD_DE C1_NM 소상공인 지역별_체감 소상공인 지역별_전망
0    2018Q1   NaN         NaN         NaN
1    2018Q2   NaN         NaN         NaN
2    2018Q3   NaN         NaN         NaN
3    2018Q4   NaN         NaN         NaN
4    2019Q1    서울        76.2        96.7
..      ...   ...         ...         ...
271  2022Q4    전북        48.4        86.1
272  2022Q4    전남        50.8        82.2
273  2022Q4    경북        58.8        86.3
274  2022Q4    경남        59.9        80.8
275  2022Q4    제주        63.6        84.6

[276 rows x 4 columns]

In [167]:
# 소상공인 경기동향(BSI) 지수 (전통시장, 부문별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201912&endPrdDe=202212&orgId=142&tblId=DT_S0001N_003'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']
filter_2 = ['경기전반', '매출', '영업이익', '자금사정', '원재료조달사정', '재고', '고용', '비용상황', '구매고객수']

# 조건 조합 반복
for s in filter_1:
    for p in filter_2:
        # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
        # (예) '전통시장 부문별_비용상황_체감' => '전통시장_부문별'
        newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{p}_{s}"        
        filtered = temp_df[(temp_df['ITM_NM'] == s) & (temp_df['C1_NM'] == p)]
        split_dfs[newColName] = filtered.copy()
        split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
        split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
        # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
        split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})

# DataFrame Join
df_merged = df.copy()
for name, sub in split_dfs.items():
    df_merged = df_merged.merge(sub.iloc[:, [2, 4]], on='PRD_DE', how='left', suffixes=('', '_dup'))  # 필요에 따라 'outer' 등으로 변경
df_merged

,PRD_DE,전통시장 부문별_경기전반_체감,전통시장 부문별_매출_체감,전통시장 부문별_영업이익_체감,전통시장 부문별_자금사정_체감,전통시장 부문별_원재료조달사정_체감,전통시장 부문별_재고_체감,전통시장 부문별_고용_체감,전통시장 부문별_비용상황_체감,전통시장 부문별_구매고객수_체감,전통시장 부문별_경기전반_전망,전통시장 부문별_매출_전망,전통시장 부문별_영업이익_전망,전통시장 부문별_자금사정_전망,전통시장 부문별_원재료조달사정_전망,전통시장 부문별_재고_전망,전통시장 부문별_고용_전망,전통시장 부문별_비용상황_전망,전통시장 부문별_구매고객수_전망
0,2018Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019Q4,65.4,65.6,65.7,66.6,100.3,NaN,NaN,NaN,66.3,85.3,86.1,85.9,86,101.2,NaN,NaN,NaN,85.7
8,2020Q1,28.4,28.3,NaN,30.1,NaN,12.7,99.6,NaN,NaN,95,95.2,NaN,94.9,NaN,100.7,98,NaN,NaN
9,2020Q2,79.2,78.2,NaN,80.3,NaN,103,99.5,NaN,NaN,103.2,103.4,NaN,103.4,NaN,100,100,NaN,NaN
10,2020Q3,65.1,64.8,NaN,62.7,NaN,108,100,NaN,NaN,95.2,94.6,NaN,91.6,NaN,100.6,99.2,NaN,NaN
11,2020Q4,44.8,44.7,NaN,45.1,NaN,103.6,99.8,NaN,NaN,89.1,88.8,NaN,88.5,NaN,100.7,100,NaN,NaN
12,2021Q1,44.5,42.8,NaN,38,NaN,114.2,99.2,NaN,NaN,68.6,60.2,NaN,57.8,NaN,106.2,99.2,NaN,NaN
13,2021Q2,49.2,47.9,NaN,47.4,NaN,115,100.1,NaN,NaN,65.1,60.9,NaN,56.7,NaN,108.9,100.1,NaN,NaN
14,2021Q3,77.4,82.4,NaN,68.4,NaN,107.8,99,NaN,NaN,79.2,78.7,NaN,68.4,NaN,101.8,98.3,NaN,NaN
15,2021Q4,41.2,42.8,NaN,40.6,NaN,114.5,99.2,NaN,NaN,83.8,80.7,NaN,77.8,NaN,102.8,100.2,NaN,NaN
16,2022Q1,40.3,37,NaN,45.6,NaN,NaN,NaN,102.9,38.9,79.7,71.2,NaN,70.6,NaN,NaN,NaN,98.3,76.5
17,2022Q2,62.6,60.7,NaN,65.2,NaN,NaN,NaN,110.3,63.7,83.1,81.7,NaN,80.6,NaN,NaN,NaN,106.4,82.2
18,2022Q3,79,79.5,NaN,77.4,NaN,NaN,NaN,116.3,79.6,102.6,100.9,NaN,95,NaN,NaN,NaN,110.9,101.6
19,2022Q4,54,53.1,NaN,58.8,NaN,NaN,NaN,106.8,53.6,78.5,77.5,NaN,79.2,NaN,NaN,NaN,104,77.8

In [200]:
# 소상공인 경기동향(BSI) 지수 (전통시장, 업종별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=142&tblId=DT_S0001N_004'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']

# 조건 조합 반복
for s in filter_1:
    # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
    # (예) '소상공인 부문별_비용상황_체감' => '소상공인_부문별'
    newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]
        
# '체감', '전망' 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df[['PRD_DE', 'C1_NM']].copy()
for name, sub in split_dfs.items():
    temp_df_merged = temp_df_merged.merge(sub.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경
#temp_df_merged

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df_merged, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged

     PRD_DE          C1_NM 전통시장 업종별_체감 전통시장 업종별_전망
0    2018Q1            NaN         NaN         NaN
1    2018Q2            NaN         NaN         NaN
2    2018Q3            NaN         NaN         NaN
3    2018Q4            NaN         NaN         NaN
4    2019Q1            농산물          58        87.1
..      ...            ...         ...         ...
127  2022Q4           가공식품        55.4        79.1
128  2022Q4          의류·신발        56.5        79.4
129  2022Q4           가정용품        47.9        73.1
130  2022Q4           음식점업        52.7        83.5
131  2022Q4  기타소매업·근린생활서비스        55.4        77.7

[132 rows x 4 columns]

In [201]:
# 소상공인 경기동향(BSI) 지수 (전통시장, 지역별 실적 및 전망)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=s0+s1+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=142&tblId=DT_S0001N_006'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = ['체감', '전망']

# 조건 조합 반복
for s in filter_1:
    # 앞에 이름 8개만 잘라서 Data를 담고있는 'DT'컬럼의 이름을 대체함
    # (예) '소상공인 부문별_비용상황_체감' => '소상공인_부문별'
    newColName = f"{temp_df['TBL_NM'].unique()[0][:8]}_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]
        
# '체감', '전망' 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df[['PRD_DE', 'C1_NM']].copy()
for name, sub in split_dfs.items():
    temp_df_merged = temp_df_merged.merge(sub.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경
#temp_df_merged

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df_merged, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged

     PRD_DE C1_NM 전통시장 지역별_체감 전통시장 지역별_전망
0    2018Q1   NaN         NaN         NaN
1    2018Q2   NaN         NaN         NaN
2    2018Q3   NaN         NaN         NaN
3    2018Q4   NaN         NaN         NaN
4    2019Q1    서울        62.3        99.3
..      ...   ...         ...         ...
271  2022Q4    전북        52.3        79.7
272  2022Q4    전남        51.2        87.6
273  2022Q4    경북        59.6          76
274  2022Q4    경남        65.7        84.8
275  2022Q4    제주        53.9        84.3

[276 rows x 4 columns]

In [207]:
# 종업원 규모별 설비투자(서비스업, 300명 미만 사업장)(단위: 억원)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T1+&objL1=001001001+001001002+001001003+001001004+001001005+001001006+001001007+001001008+001001009+001001010+001001011+001001011001+001001011002+001001011003+001001011004+001001012+001001013+001001013001+001001013002+001001014+001001014001+001001014002+001001014003+001001015+001001015001+001001015002+001001015003+001001016+001001017+001001017001+001001017002+001001017003+001001017004+001001017005+001001018+001001019+001001019001+001001019002+001001019003+001001019004+001001020+001001020001+001001020002+001001021+001001021001+001001021002+001001022+001001022001+001001022002+001001023+001001024+001002+001002001+001002002+001002003+001002004+001002005+001002005001+001002005002+001002005003+001002006+001002006001+001002006002+001002006003+001002006004+001002007+001002007001+001002007002+001002008+001002008001+001002008002+001002008003+001002008004+001002008005+001002008006+001002009+001002010+001002011+&objL2=000+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2022&orgId=406&tblId=DT_406N_302001_A006'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT', 'UNIT_NM']].copy()

temp_df
# 'DT' 컬럼 네임을 '종업원 규모별 설비투자'으로 교체
newColName = temp_df['ITM_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName, 'UNIT_NM']]

    PRD_DE            C1_NM   종업원 규모별 설비투자 UNIT_NM
0     2021              식료품  5089.32014941      억원
1     2022              식료품    5137.251696      억원
2     2021               음료  1321.73333333      억원
3     2022               음료    1313.865833      억원
4     2021               담배              0      억원
..     ...              ...            ...     ...
151   2022             부동산업     770.419643      억원
152   2021  전문 과학 및 기술 서비스업  4785.17119867      억원
153   2022  전문 과학 및 기술 서비스업    1363.032876      억원
154   2021  보건업 및 사회복지 서비스업  1100.82727273      억원
155   2022  보건업 및 사회복지 서비스업      16.766667      억원

[156 rows x 4 columns]

In [29]:
# 경기전반 실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202212&orgId=340&tblId=DT_B10100'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '경기전반 실적 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 경기전반 실적 SBHI
0    2018Q1               서비스업         87.7
1    2018Q1           도매 및 소매업         89.9
2    2018Q1      수리 및 기타개인서비스업         73.5
3    2018Q1                운수업         83.7
4    2018Q1          숙박 및 음식점업         73.3
..      ...                ...          ...
215  2022Q4         부동산업 및 임대업         70.1
216  2022Q4      전문과학 및 기술서비스업         85.9
217  2022Q4  사업시설관리 및 사업지원서비스업         85.8
218  2022Q4             교육서비스업         76.7
219  2022Q4   예술스포츠 및 여가관련서비스업         75.8

[220 rows x 3 columns]

In [30]:
# 경기전반 전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202301&orgId=340&tblId=DT_B10101'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 'DT' 컬럼 네임을 '경기전반 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 경기전반 전망 SBHI
0    2018Q1               서비스업         89.2
1    2018Q1           도매 및 소매업         87.8
2    2018Q1      수리 및 기타개인서비스업         92.6
3    2018Q1                운수업         91.2
4    2018Q1          숙박 및 음식점업         89.3
..      ...                ...          ...
215  2022Q4         부동산업 및 임대업         67.4
216  2022Q4      전문과학 및 기술서비스업         87.8
217  2022Q4  사업시설관리 및 사업지원서비스업         88.9
218  2022Q4             교육서비스업         87.2
219  2022Q4   예술스포츠 및 여가관련서비스업         84.7

[220 rows x 3 columns]

In [31]:
apiKey = 'NjgwMjNjNTc0NTBlZWM5Y2JjMmQ0YWEyNTIzMjhhNmM'

# 내수판매 실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202212&orgId=340&tblId=DT_B10104'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '내수판매 실적 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 내수판매 실적 SBHI
0    2018Q1               서비스업         87.9
1    2018Q1           도매 및 소매업         89.6
2    2018Q1      수리 및 기타개인서비스업         74.2
3    2018Q1                운수업         83.9
4    2018Q1          숙박 및 음식점업         78.7
..      ...                ...          ...
215  2022Q4         부동산업 및 임대업         70.1
216  2022Q4      전문과학 및 기술서비스업         86.3
217  2022Q4  사업시설관리 및 사업지원서비스업         85.3
218  2022Q4             교육서비스업         76.6
219  2022Q4   예술스포츠 및 여가관련서비스업         74.6

[220 rows x 3 columns]

In [32]:
# 내수판매 전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202212&orgId=340&tblId=DT_B10105'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '내수판매 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 내수판매 전망 SBHI
0    2018Q1               서비스업         88.9
1    2018Q1           도매 및 소매업         87.5
2    2018Q1      수리 및 기타개인서비스업         93.1
3    2018Q1                운수업         92.9
4    2018Q1          숙박 및 음식점업         87.9
..      ...                ...          ...
215  2022Q4         부동산업 및 임대업         68.1
216  2022Q4      전문과학 및 기술서비스업         87.2
217  2022Q4  사업시설관리 및 사업지원서비스업           88
218  2022Q4             교육서비스업         86.5
219  2022Q4   예술스포츠 및 여가관련서비스업         84.7

[220 rows x 3 columns]

In [33]:
# 수출실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201801&endPrdDe=202212&orgId=340&tblId=DT_B10106'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '수출실적 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 수출실적 SBHI
0    2018Q1               서비스업        88
1    2018Q1           도매 및 소매업        88
2    2018Q1      수리 및 기타개인서비스업        73
3    2018Q1                운수업     111.8
4    2018Q1          숙박 및 음식점업         -
..      ...                ...       ...
215  2022Q4         부동산업 및 임대업      72.9
216  2022Q4      전문과학 및 기술서비스업      75.7
217  2022Q4  사업시설관리 및 사업지원서비스업      97.2
218  2022Q4             교육서비스업         -
219  2022Q4   예술스포츠 및 여가관련서비스업       100

[220 rows x 3 columns]

In [34]:
# 수출전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10107'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '수출전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 수출전망 SBHI
0    2018Q1                NaN       NaN
1    2018Q2                NaN       NaN
2    2018Q3                NaN       NaN
3    2018Q4                NaN       NaN
4    2019Q1               서비스업      83.9
..      ...                ...       ...
175  2022Q4         부동산업 및 임대업       100
176  2022Q4      전문과학 및 기술서비스업      74.8
177  2022Q4  사업시설관리 및 사업지원서비스업        89
178  2022Q4             교육서비스업         -
179  2022Q4   예술스포츠 및 여가관련서비스업         -

[180 rows x 3 columns]

In [35]:
# 영업이익 실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10108'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '영업이익 실적 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 영업이익 실적 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업         77.8
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업         68.5
176  2022Q4      전문과학 및 기술서비스업         83.4
177  2022Q4  사업시설관리 및 사업지원서비스업         90.3
178  2022Q4             교육서비스업         75.2
179  2022Q4   예술스포츠 및 여가관련서비스업           73

[180 rows x 3 columns]

In [36]:
# 영업이익 전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10109'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '영업이익 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 영업이익 전망 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업         83.2
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업         65.4
176  2022Q4      전문과학 및 기술서비스업         86.8
177  2022Q4  사업시설관리 및 사업지원서비스업         86.2
178  2022Q4             교육서비스업         86.4
179  2022Q4   예술스포츠 및 여가관련서비스업           78

[180 rows x 3 columns]

In [37]:
# 자금사정 실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10110'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '자금사정 실적 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 자금사정 실적 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업           77
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업         70.9
176  2022Q4      전문과학 및 기술서비스업         84.9
177  2022Q4  사업시설관리 및 사업지원서비스업         90.2
178  2022Q4             교육서비스업         75.9
179  2022Q4   예술스포츠 및 여가관련서비스업         78.9

[180 rows x 3 columns]

In [38]:
# 자금사정 전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10111'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '자금사정 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 자금사정 전망 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업         81.1
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업         68.1
176  2022Q4      전문과학 및 기술서비스업         86.4
177  2022Q4  사업시설관리 및 사업지원서비스업         85.2
178  2022Q4             교육서비스업         83.4
179  2022Q4   예술스포츠 및 여가관련서비스업         78.2

[180 rows x 3 columns]

In [39]:
# 고용수준 실적 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=340&tblId=DT_B10118'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '고용수준 실적 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 고용수준 실적 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업         94.1
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업        100.2
176  2022Q4      전문과학 및 기술서비스업         94.4
177  2022Q4  사업시설관리 및 사업지원서비스업         83.9
178  2022Q4             교육서비스업         99.2
179  2022Q4   예술스포츠 및 여가관련서비스업         90.6

[180 rows x 3 columns]

In [40]:
# 고용수준 전망 SBHI
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=1634013103124559T6+&objL1=15340a.dd+15340a.ddd+15340a.ddd1+15340a.ddd2+15340a.ddd3+15340a.ddd4+15340a.ddd5+15340a.ddd6+15340a.ddd7+15340a.ddd8+15340a.ddd9+15340a.ddd10+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202301&orgId=340&tblId=DT_B10119'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 'DT' 컬럼 네임을 '고용수준 전망 SBHI'로 교체
newColName = temp_df['TBL_NM'].unique()[0]
temp_df.rename(columns={'DT': newColName}, inplace=True)
temp_df[['PRD_DE', 'C1_NM', newColName]]

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 월 → 분기(Q1~Q4)로 변환 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
temp_df['PRD_DE'] = temp_df['PRD_DE'].apply(month_to_quarter)
# Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
temp_df = temp_df[~temp_df['PRD_DE'].str.contains('Unknown')]
temp_df
    
# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged = df_merged.iloc[:, [0, 3, 4]]
df_merged

     PRD_DE              C1_NM 고용수준 전망 SBHI
0    2018Q1                NaN          NaN
1    2018Q2                NaN          NaN
2    2018Q3                NaN          NaN
3    2018Q4                NaN          NaN
4    2019Q1               서비스업         94.7
..      ...                ...          ...
175  2022Q4         부동산업 및 임대업         94.6
176  2022Q4      전문과학 및 기술서비스업         93.3
177  2022Q4  사업시설관리 및 사업지원서비스업         83.8
178  2022Q4             교육서비스업         99.2
179  2022Q4   예술스포츠 및 여가관련서비스업         92.1

[180 rows x 3 columns]

In [8]:
# 중소기업 경기동행종합지수
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=201901&endPrdDe=202212&orgId=303&tblId=DT_303005_CI001'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
#display(temp_df)

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['03']:
        quarter = 'Q1'
    elif month in ['06']:
        quarter = 'Q2'
    elif month in ['09']:
        quarter = 'Q3'
    elif month in ['12']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = df['C1_NM'].drop_duplicates().values.tolist()

# 조건 조합 반복
for s in filter_1:
    # 'DT'컬럼의 이름을 대체함
    newColName = f"{temp_df['TBL_NM'].unique()[0][:]}_{s}"   
    filtered = temp_df[temp_df['C1_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]  

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    temp_df_merged = temp_df_merged.merge(sub.iloc[:, [2, 4]], on=['PRD_DE'], how='left')  # 필요에 따라 'outer' 등으로 변경

# 데이터마다 시계열이 다르므로, 공통 시계열(2019Q1 ~ 2022Q4) DataFrame을 만들어서 추출된 데이터를 붙임(Left Join) 
# 연도 및 분기 리스트
years = range(2018, 2023)  # 2018 ~ 2022
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
# PRD_DE 값 생성
prd_de_list = [f"{year}{q}" for year in years for q in quarters]
# DataFrame 생성 (열 이름이 'PRD_DE')
df = pd.DataFrame({'PRD_DE': prd_de_list})
df_merged = df.merge(temp_df_merged, on='PRD_DE', how='left')  # 필요에 따라 'outer' 등으로 변경
df_merged

,PRD_DE,중소기업 경기동행종합지수_동행종합지수,중소기업 경기동행종합지수_동행지수 순환변동치,중소기업 경기동행종합지수_동행지수 전월비,중소기업 경기동행종합지수_동행지수 전월차,중소기업 경기동행종합지수_동행지수 전년동기대비,중소기업 경기동행종합지수_순환변동치 전월비,중소기업 경기동행종합지수_순환변동치 전월차,중소기업 경기동행종합지수_순환변동치 전년동기대비
0,2018Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019Q1,102.39,100.6,0.22,0.22,-0.04,0.22,0.22,-0.18
5,2019Q2,102.47,100.65,-0.12,-0.12,0.08,-0.13,-0.13,-0.04
6,2019Q3,102.26,100.42,-0.17,-0.17,0.13,-0.17,-0.17,0.02
7,2019Q4,102.48,100.6,0.36,0.37,0.29,0.36,0.36,0.18
8,2020Q1,100.47,98.58,-1.27,-1.29,-1.88,-1.28,-1.28,-2.01
9,2020Q2,97.56,95.68,-0.24,-0.23,-4.79,-0.24,-0.23,-4.94
10,2020Q3,99.41,97.42,0.74,0.73,-2.79,0.71,0.69,-2.99
11,2020Q4,100.41,98.31,-0.13,-0.13,-2.02,-0.16,-0.16,-2.28
12,2021Q1,100.95,98.75,0.62,0.62,0.48,0.58,0.57,0.17
13,2021Q2,102.22,99.88,0.28,0.29,4.78,0.24,0.24,4.39
14,2021Q3,102.47,100.01,0.09,0.09,3.08,0.05,0.05,2.66
15,2021Q4,103.1,100.51,0.29,0.3,2.68,0.26,0.26,2.24
16,2022Q1,103.87,101.13,-0.12,-0.13,2.89,-0.17,-0.17,2.41
17,2022Q2,104.12,101.25,-0.07,-0.07,1.86,-0.1,-0.1,1.37
18,2022Q3,104.66,101.65,0.32,0.33,2.14,0.27,0.27,1.64
19,2022Q4,103.76,100.67,-0.22,-0.23,0.64,-0.26,-0.26,0.16

In [97]:
# 산업별 기업규모별 기업수(중소기업-소상공인)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+&objL1=G+H+I+L+N+P+Q+R+S+&objL2=2+3+4+5+6+7+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2022&orgId=101&tblId=DT_1BD1022'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = df['ITM_NM'].drop_duplicates().values.tolist()

# 조건 조합 반복
for s in filter_1:
    # 'DT'컬럼의 이름을 대체함
    newColName = f"{temp_df['TBL_NM'].unique()[0][:]}_{s}"   
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
df_merged

,PRD_DE,C1_NM,산업별 기업규모별 기업수_활동,산업별 기업규모별 기업수_신생,산업별 기업규모별 기업수_소멸
0,2018,도매 및 소매업,193,4,-
1,2019,도매 및 소매업,192,2,-
2,2020,도매 및 소매업,200,6,1
3,2021,도매 및 소매업,212,10,2
4,2022,도매 및 소매업,198,15,1
...,...,...,...,...,...
265,2018,협회 및 단체 수리 및 기타 개인서비스업,275498,-,-
266,2019,협회 및 단체 수리 및 기타 개인서비스업,295356,2,-
267,2020,협회 및 단체 수리 및 기타 개인서비스업,308196,1,-
268,2021,협회 및 단체 수리 및 기타 개인서비스업,318346,1,0
269,2022,협회 및 단체 수리 및 기타 개인서비스업,329890,0,0

In [109]:
# 산업별 기업규모별 기업수(중소기업-소상공인)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+&objL1=G+H+I+L+N+P+Q+R+S+&objL2=5+6+7+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2023&orgId=101&tblId=DT_1BD1023'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 기준들
filter_1 = df['ITM_NM'].drop_duplicates().values.tolist()

# 조건 조합 반복
for s in filter_1:
    # 'DT'컬럼의 이름을 대체함
    newColName = f"{temp_df['TBL_NM'].unique()[0][:]}_{s}"   
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
df_merged

,PRD_DE,C1_NM,산업별 기업규모별 종사자수_활동,산업별 기업규모별 종사자수_신생,산업별 기업규모별 종사자수_소멸
0,2018,도매 및 소매업,3061,262,217
1,2019,도매 및 소매업,3119,274,212
2,2020,도매 및 소매업,3216,295,217
3,2021,도매 및 소매업,3317,300,216
4,2022,도매 및 소매업,3376,285,228
...,...,...,...,...,...
157,2019,협회 및 단체 수리 및 기타 개인서비스업,346,64,44
158,2020,협회 및 단체 수리 및 기타 개인서비스업,367,57,44
159,2021,협회 및 단체 수리 및 기타 개인서비스업,372,58,41
160,2022,협회 및 단체 수리 및 기타 개인서비스업,384,56,41
161,2023,협회 및 단체 수리 및 기타 개인서비스업,394,55,NaN

In [12]:
# 시도/산업중분류별/조직형태별 사업체 및 종사자수

# 2020년 이전
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=ALL&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2020&orgId=142&tblId=DT_1ME0101'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'C3_NM', 'DT']].copy()
 
# 조건 기준들
filter_1 = temp_df['C3_NM'].drop_duplicates().values.tolist()
filter_2 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    for p in filter_2:
        newColName = f"{temp_df['TBL_NM'].unique()[0][:15]}_{p}_{s}"        
        filtered = temp_df[(temp_df['C3_NM'] == s) & (temp_df['ITM_NM'] == p)]
        split_dfs[newColName] = filtered.copy()
        split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 6]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 6]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)





# 2020년 이후
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+T04+T05+T06+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2020&endPrdDe=2022&orgId=142&tblId=DT_2ME0101'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/조직형태별_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
df_merged

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/조직형태별_사업체수_합계,시도/산업중분류별/조직형태별_종사자수_합계,시도/산업중분류별/조직형태별_사업체수_개인,시도/산업중분류별/조직형태별_종사자수_개인,시도/산업중분류별/조직형태별_사업체수_법인,시도/산업중분류별/조직형태별_종사자수_법인
0,2018,전국,도매 및 소매업,890665,1827061,813944,1622282,76721,204779
1,2019,전국,도매 및 소매업,891257,1870109,803402,1634602,87855,235507
2,2020,전국,도매 및 소매업,911339,1556299,816897,1354773,94442,201526
3,2018,전국,자동차 및 부품 판매업,26056,69912,23060,58805,2996,11107
4,2019,전국,자동차 및 부품 판매업,26024,68841,22556,56710,3468,12131
...,...,...,...,...,...,...,...,...,...
415,2019,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1328,2684,1325,2679,3,5
416,2020,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1358,2230,1332,2154,26,76
417,2018,제주특별자치도,수리 및 기타 개인서비스업,3961,5744,3917,5655,44,89
418,2019,제주특별자치도,수리 및 기타 개인서비스업,4140,6086,4060,5937,80,149
419,2020,제주특별자치도,수리 및 기타 개인서비스업,4316,5621,4300,5546,16,75

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/조직형태별_총 사업체 수,시도/산업중분류별/조직형태별_총 종사자 수,시도/산업중분류별/조직형태별_개인_사업체 수,시도/산업중분류별/조직형태별_개인_종사자 수,시도/산업중분류별/조직형태별_법인_사업체 수,시도/산업중분류별/조직형태별_법인_종사자 수
0,2020,전국,도매 및 소매업,1384830,2150571,1246345,1877568,138485,273003
1,2021,전국,도매 및 소매업,1362910,2117974,1216253,1849892,146657,268082
2,2022,전국,도매 및 소매업,1350842,2057241,1209465,1794727,141377,262514
3,2020,전국,자동차 및 부품 판매업,34998,71895,30289,60660,4709,11235
4,2021,전국,자동차 및 부품 판매업,34445,70453,29884,58087,4561,12366
...,...,...,...,...,...,...,...,...,...
415,2021,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1535,2527,1480,2393,55,134
416,2022,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1565,2599,1508,2530,57,69
417,2020,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,4977,6393,4961,6317,16,76
418,2021,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5042,6605,4992,6261,50,344
419,2022,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5113,6684,5052,6430,61,254

In [13]:
# 시도/산업중분류별/사업장점유형태별 사업체수
# 2020년 이전
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=ALL&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2020&orgId=142&tblId=DT_1ME0303'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'C3_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['C3_NM'].drop_duplicates().values.tolist()
filter_2 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    for p in filter_2:
        newColName = f"{temp_df['TBL_NM'].unique()[0][:15]}_{p}_{s}"        
        filtered = temp_df[(temp_df['C3_NM'] == s) & (temp_df['ITM_NM'] == p)]
        split_dfs[newColName] = filtered.copy()
        split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 6]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 6]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)


# 2020년 이후
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2020&endPrdDe=2022&orgId=142&tblId=DT_2ME0303'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/조직형태별_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
df_merged

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/사업장점유_사업체 수_합계,시도/산업중분류별/사업장점유_사업체 수_소유,시도/산업중분류별/사업장점유_사업체 수_임차(전대차 포함)
0,2018,전국,도매 및 소매업,890665,189188,693270
1,2019,전국,도매 및 소매업,891257,182091,709166
2,2020,전국,도매 및 소매업,911339,184590,726749
3,2018,전국,자동차 및 부품 판매업,26056,5930,19797
4,2019,전국,자동차 및 부품 판매업,26024,5735,20289
...,...,...,...,...,...,...
58,2019,전국,개인 및 소비용품 수리업,77303,21168,56135
59,2020,전국,개인 및 소비용품 수리업,77958,20710,57248
60,2018,전국,기타 개인 서비스업,209696,34475,174995
61,2019,전국,기타 개인 서비스업,215465,38870,176595
62,2020,전국,기타 개인 서비스업,224253,28021,196232

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/조직형태별_사업체 수,시도/산업중분류별/조직형태별_소유,시도/산업중분류별/조직형태별_임차(전대차 포함)
0,2020,전국,도매 및 소매업,1384830,347534,1037296
1,2021,전국,도매 및 소매업,1362910,371391,991519
2,2022,전국,도매 및 소매업,1350842,432258,918584
3,2020,전국,자동차 및 부품 판매업,34998,8061,26937
4,2021,전국,자동차 및 부품 판매업,34445,7873,26572
...,...,...,...,...,...,...
58,2021,전국,개인 및 소비용품 수리업,96434,32637,63797
59,2022,전국,개인 및 소비용품 수리업,93799,31598,62201
60,2020,전국,기타 개인 서비스업,245648,35441,210207
61,2021,전국,기타 개인 서비스업,244686,43543,201143
62,2022,전국,기타 개인 서비스업,252069,41739,210330

In [193]:
# 시도/산업중분류별/사업체당 보증금 및 월세, 매출대비 지급비율(단위: 만원, %)
# 2020년 이전
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+T04+T05+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2020&orgId=142&tblId=DT_1ME0305'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/사업체당_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)




# 2020년 이후
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+T04+T05+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2020&endPrdDe=2022&orgId=142&tblId=DT_2ME0305'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/사업체당_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/사업체당_보증금 있는 월세_보증금,시도/산업중분류별/사업체당_보증금 있는 월세_월세,시도/산업중분류별/사업체당_보증금 없는 월세,시도/산업중분류별/사업체당_전세,시도/산업중분류별/사업체당_매출대비 일정비율 지급
0,2018,전국,도매 및 소매업,2482,132,70,4338,21.2
1,2019,전국,도매 및 소매업,2651,138,79,4504,18.7
2,2020,전국,도매 및 소매업,2390,123,93,4232,17.7
3,2018,전국,자동차 및 부품 판매업,3272,190,110,2158,30
4,2019,전국,자동차 및 부품 판매업,3279,173,165,3597,30
...,...,...,...,...,...,...,...,...
58,2019,전국,개인 및 소비용품 수리업,1884,112,54,2760,7.8
59,2020,전국,개인 및 소비용품 수리업,2050,111,92,2663,12
60,2018,전국,기타 개인 서비스업,1789,88,53,4706,0
61,2019,전국,기타 개인 서비스업,1909,92,82,6223,30
62,2020,전국,기타 개인 서비스업,1928,93,58,2383,13.7

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/사업체당_보증금 있는 월세_보증금(만원),시도/산업중분류별/사업체당_보증금 있는 월세_월세(만원),시도/산업중분류별/사업체당_보증금 없는 월세(만원),시도/산업중분류별/사업체당_전세(만원),시도/산업중분류별/사업체당_매출대비 일정비율 지급(%)
0,2020,전국,도매 및 소매업,2112,115,79,5943,17.8
1,2021,전국,도매 및 소매업,2295,120,72,5918,15.5
2,2022,전국,도매 및 소매업,2359,126,71,5413,19.2
3,2020,전국,자동차 및 부품 판매업,3291,175,108,3006,13.2
4,2021,전국,자동차 및 부품 판매업,3035,174,154,6371,23.7
...,...,...,...,...,...,...,...,...
58,2021,전국,개인 및 소비용품 수리업,1753,106,51,4166,12.6
59,2022,전국,개인 및 소비용품 수리업,1958,120,59,3241,15.4
60,2020,전국,기타 개인 서비스업,1875,90,60,2445,11.6
61,2021,전국,기타 개인 서비스업,1799,91,60,4283,0
62,2022,전국,기타 개인 서비스업,1719,97,54,5128,15

In [198]:
# 시도/산업중분류별 영업비용
# 2020년 이전
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=00+10+50+20+30+40+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2020&orgId=142&tblId=DT_1ME0311'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/영업비용_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)


# 2020년 이후
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T06+T03+T04+T05+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2020&endPrdDe=2022&orgId=142&tblId=DT_2ME0311'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/영업비용_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/영업비용_사업체수,시도/산업중분류별/영업비용_총 영업비용,시도/산업중분류별/영업비용_급여총액,시도/산업중분류별/영업비용_임차료,시도/산업중분류별/영업비용_기타,시도/산업중분류별/영업비용_매출원가
0,2018,전국,도매 및 소매업,890665,265231259,21055921,13417319,230758018,NaN
1,2019,전국,도매 및 소매업,891257,271182966,21953961,13885283,21294860,214048861
2,2020,전국,도매 및 소매업,911339,283352962,16625422,8304276,36148465,222274800
3,2018,전국,자동차 및 부품 판매업,26056,12621841,1267765,655119,10698958,NaN
4,2019,전국,자동차 및 부품 판매업,26024,13202215,1153301,556963,1444886,10047065
...,...,...,...,...,...,...,...,...,...
670,2019,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1328,55592,12585,14348,11055,17603
671,2020,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1358,59865,8935,15244,27375,8311
672,2018,제주특별자치도,수리 및 기타 개인서비스업,3961,122897,31033,15532,76331,NaN
673,2019,제주특별자치도,수리 및 기타 개인서비스업,4140,118462,21879,19141,19166,58275
674,2020,제주특별자치도,수리 및 기타 개인서비스업,4316,165993,26773,26064,53487,59669

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/영업비용_사업체 수,시도/산업중분류별/영업비용_영업비용,시도/산업중분류별/영업비용_영업비용_급여총액,시도/산업중분류별/영업비용_영업비용_임차료,시도/산업중분류별/영업비용_영업비용_기타,시도/산업중분류별/영업비용_영업비용_매출원가
0,2020,전국,도매 및 소매업,1384830,378846616,21961329,10328746,50218225,296338315
1,2021,전국,도매 및 소매업,1362910,367655407,23336668,13121727,39651909,291545104
2,2022,전국,도매 및 소매업,1350842,365180692,24558246,12386488,41352649,286883310
3,2020,전국,자동차 및 부품 판매업,34998,16120911,976853,399677,1907400,12836981
4,2021,전국,자동차 및 부품 판매업,34445,15854131,931007,615800,1638615,12668709
...,...,...,...,...,...,...,...,...,...
670,2021,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1535,78733,15274,19041,28026,16393
671,2022,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1565,85414,18708,20928,26918,18860
672,2020,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,4977,186896,29416,29876,62894,64710
673,2021,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5042,159679,18647,21738,41416,77878
674,2022,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5113,169635,20778,22443,49517,76897

In [201]:
# 시도/산업중분류별/영업이익규모별 사업체수 비율(개, 백만원, %)
# 2020년 이전
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=00+10+20+30+40+50+60+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2020&orgId=142&tblId=DT_1ME0312'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/영업이익규모별 사업체수 비율_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)


# 2020년 이후
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+T04+T05+T06+T07+&objL1=ALL&objL2=G+G45+G46+G47+I+I55+I56+L+L68+N+N74+N75+N76+P+P85+R+R90+R91+S+S95+S96+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2020&endPrdDe=2022&orgId=142&tblId=DT_2ME0312'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도/산업중분류별/영업이익규모별 사업체수 비율_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/영업이익규모별 사업체수 비율_사업체 수,시도/산업중분류별/영업이익규모별 사업체수 비율_영업이익,시도/산업중분류별/영업이익규모별 사업체수 비율_비율합계,시도/산업중분류별/영업이익규모별 사업체수 비율_1천만원미만,시도/산업중분류별/영업이익규모별 사업체수 비율_1천만원~3천만원미만,시도/산업중분류별/영업이익규모별 사업체수 비율_3천만원~5천만원미만,시도/산업중분류별/영업이익규모별 사업체수 비율_5천만원 이상
0,2018,전국,도매 및 소매업,890665,36218057,100,16.9,32.7,24.1,26.3
1,2019,전국,도매 및 소매업,891257,35245359,100,18.9,32.2,21.8,27.1
2,2020,전국,도매 및 소매업,911339,18964436,100,45.7,31.4,10.8,12.1
3,2018,전국,자동차 및 부품 판매업,26056,1589727,100,11.5,25.3,29,34.2
4,2019,전국,자동차 및 부품 판매업,26024,1397269,100,15.6,26.6,23,34.8
...,...,...,...,...,...,...,...,...,...,...
670,2019,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1328,25212,100,29.6,40.8,21.3,8.2
671,2020,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1358,22136,100,60.2,24,12.9,3
672,2018,제주특별자치도,수리 및 기타 개인서비스업,3961,73696,100,21.1,46.8,22.8,9.2
673,2019,제주특별자치도,수리 및 기타 개인서비스업,4140,68816,100,21.5,62.4,11.7,4.4
674,2020,제주특별자치도,수리 및 기타 개인서비스업,4316,28911,100,44.1,50.4,5.4,0

,PRD_DE,C1_NM,C2_NM,시도/산업중분류별/영업이익규모별 사업체수 비율_사업체 수,시도/산업중분류별/영업이익규모별 사업체수 비율_영업이익,시도/산업중분류별/영업이익규모별 사업체수 비율_비율합계(%),시도/산업중분류별/영업이익규모별 사업체수 비율_1천만원미만(%),시도/산업중분류별/영업이익규모별 사업체수 비율_1천만원~3천만원미만(%),시도/산업중분류별/영업이익규모별 사업체수 비율_3천만원~5천만원미만(%),시도/산업중분류별/영업이익규모별 사업체수 비율_5천만원 이상(%)
0,2020,전국,도매 및 소매업,1384830,27702842,100,49.2,29.7,9.9,11.2
1,2021,전국,도매 및 소매업,1362910,37647256,100,30.3,35.2,16.9,17.6
2,2022,전국,도매 및 소매업,1350842,42757201,100,30.5,31.4,17.5,20.7
3,2020,전국,자동차 및 부품 판매업,34998,920443,100,32.3,32.9,14,20.8
4,2021,전국,자동차 및 부품 판매업,34445,1461224,100,20.4,29.8,23.9,25.9
...,...,...,...,...,...,...,...,...,...,...
670,2021,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1535,17032,100,44.8,37.1,11.1,7
671,2022,제주특별자치도,예술 스포츠 및 여가관련 서비스업,1565,27189,100,37.6,34.1,19.7,8.6
672,2020,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,4977,38309,100,45.7,49,5,0.3
673,2021,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5042,69484,100,31.3,53.1,7.5,8.1
674,2022,제주특별자치도,협회 및 단체 수리 및 기타 개인서비스업,5113,76869,100,27.3,52.9,14.7,5.1

In [206]:
# 시도별 경제활동별 지역내총생산(백만원, %p)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T1+T2+T3+&objL1=ALL&objL2=SER+G00+H00+I00+L00+N00+O00+P00+Q00+R00+S00+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2023&orgId=101&tblId=DT_1C91'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도별 경제활동별 지역내총생산_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM', 'C2_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM', 'C2_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,C2_NM,시도별 경제활동별 지역내총생산_명목,시도별 경제활동별 지역내총생산_실질,시도별 경제활동별 지역내총생산_실질기여도
0,2018,전국,도매 및 소매업,175881303,169194046,0.24
1,2019,전국,도매 및 소매업,178189719,175673015,0.34
2,2020,전국,도매 및 소매업,175029822,175029822,-0.03
3,2021,전국,도매 및 소매업,185232614,177655406,0.13
4,2022,전국,도매 및 소매업,196172756,184163356,0.31
...,...,...,...,...,...,...
1183,2019,제주특별자치도,서비스업,16125739,16292940,2.43
1184,2020,제주특별자치도,서비스업,15498648,15498648,-3.53
1185,2021,제주특별자치도,서비스업,16631695,16279688,3.6
1186,2022,제주특별자치도,서비스업,18022305,17110559,3.73
1187,2023,제주특별자치도,서비스업,18839013,17406619,1.28

In [217]:
# 시도별 지역내총생산에 대한 지출
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T01+T02+T03+&objL1=ALL&objL2=E00+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2023&orgId=101&tblId=DT_1C93'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도별 지역내총생산에 대한 지출_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,시도별 지역내총생산에 대한 지출_명목,시도별 지역내총생산에 대한 지출_실질,시도별 지역내총생산에 대한 지출_실질기여도
0,2018,전국,2007811627,2026457077,3.0809064924
1,2019,전국,2042981250,2075340783,2.4122744559
2,2020,전국,2062489906,2062489906,-0.6192176751
3,2021,전국,2224179729,2155993359,4.5335229389
4,2022,전국,2327595674,2214910682,2.7327228644
...,...,...,...,...,...
103,2019,제주특별자치도,22267086,22951902,0.7676955889
104,2020,제주특별자치도,21668785,21668785,-5.5904620838
105,2021,제주특별자치도,22757094,22346390,3.127101958
106,2022,제주특별자치도,24282333,23364427,4.5557090901
107,2023,제주특별자치도,26013300,24073959,3.0368086954

In [218]:
# 시도별 1인당 지역내총생산, 지역총소득, 개인소득
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T1+T2+T3+T4+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2018&endPrdDe=2022&orgId=101&tblId=DT_1C96'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도별 1인당 지역내총생산 지역총소득 개인소득_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

,PRD_DE,C1_NM,시도별 1인당 지역내총생산 지역총소득 개인소득_1인당 지역내총생산,시도별 1인당 지역내총생산 지역총소득 개인소득_1인당 지역총소득,시도별 1인당 지역내총생산 지역총소득 개인소득_1인당 개인소득,시도별 1인당 지역내총생산 지역총소득 개인소득_1인당 민간소비
0,2018,전국,38922,39070,21288,19277
1,2019,전국,39467,39787,22289,19778
2,2020,전국,39789,40115,23042,19083
3,2021,전국,42963,43415,23726,20292
4,2022,전국,45045,45588,24971,22104
...,...,...,...,...,...,...
85,2018,제주특별자치도,33673,32497,19402,19144
86,2019,제주특별자치도,33545,32250,19979,19741
87,2020,제주특별자치도,32404,31825,20835,18988
88,2021,제주특별자치도,33861,36153,21396,19966
89,2022,제주특별자치도,35999,36865,22481,22266

In [230]:
# 시도별 산업중분류별 기업규모별 매출액(소상공인, 억원)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=IM_G+IM_H+IM_I+IM_L+IM_N+IM_P+IM_Q+IM_R+IM_S+&objL2=ALL&objL3=16142T2524+&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&startPrdDe=2019&endPrdDe=2022&orgId=142&tblId=DT_BR_C001'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'C2_NM', 'DT']].copy()
temp_df

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"시도별 산업중분류별 기업규모별 매출액_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)

# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4, 5]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4, 5]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

    PRD_DE                             C1_NM C2_NM 시도별 산업중분류별 기업규모별 매출액_매출액
0     2019                 G.도매 및 소매업(45~47)    전국                  3932001
1     2020                 G.도매 및 소매업(45~47)    전국                  4015885
2     2021                 G.도매 및 소매업(45~47)    전국                  4400729
3     2022                 G.도매 및 소매업(45~47)    전국                  4667061
4     2019                 G.도매 및 소매업(45~47)    서울                   926650
..     ...                               ...   ...                      ...
643   2022  S.협회 및 단체 수리 및 기타 개인 서비스업(94~96)    제주                     2654
644   2019  S.협회 및 단체 수리 및 기타 개인 서비스업(94~96)    세종                      818
645   2020  S.협회 및 단체 수리 및 기타 개인 서비스업(94~96)    세종                      868
646   2021  S.협회 및 단체 수리 및 기타 개인 서비스업(94~96)    세종                      961
647   2022  S.협회 및 단체 수리 및 기타 개인 서비스업(94~96)    세종                     1132

[648 rows x 4 columns]

In [14]:
# 상권별 집합상가 임대가격지수(단위: 2024.2Q=100.0)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=A01+A02+A03+A04+A05+A06+A07+A08+A09+A10+A11+A12+A13+A14+A15+A16+A17+A18+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=202501&orgId=408&tblId=DT_40801_N3201_06'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 집합상가 임대가격지수_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

['임대가격지수']

     PRD_DE C1_NM 상권별 집합상가 임대가격지수_임대가격지수
0    2018Q1    전국         104.9027925748
1    2018Q2    전국         104.8497744863
2    2018Q3    전국         104.7118824432
3    2018Q4    전국         104.5435644539
4    2019Q1    전국          104.434973104
..      ...   ...                    ...
517  2024Q1    제주         100.0594199093
518  2024Q2    제주                    100
519  2024Q3    제주          99.8257471634
520  2024Q4    제주          99.7222447086
521  2025Q1    제주           99.543888036

[522 rows x 3 columns]

In [ ]:
# 상권별 통합상가 임대가격지수(시계열이 짧음)
url = f=''
https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=인증키없음&itmId=T001+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202401&endPrdDe=202501&orgId=408&tblId=DT_40801_N5201_06
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

In [247]:
# 상권별 소규모상가 임대가격지수(단위: 2024.2Q=100.0)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=A01+A02+A03+A04+A05+A06+A07+A08+A09+A10+A11+A12+A13+A14+A15+A16+A17+A18+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=202501&orgId=408&tblId=DT_40801_N4201_06'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 소규모상가 임대가격지수_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 소규모상가 임대가격지수_임대가격지수
0    2018Q1    전국          106.4770839558
1    2018Q2    전국          106.4948276553
2    2018Q3    전국          106.2971696327
3    2018Q4    전국          105.9143717705
4    2019Q1    전국           105.725796119
..      ...   ...                     ...
517  2024Q1    제주          100.0497026712
518  2024Q2    제주                     100
519  2024Q3    제주           99.9162945398
520  2024Q4    제주           99.7583707495
521  2025Q1    제주           99.4746332574

[522 rows x 3 columns]

In [250]:
# 상권별 오피스 임대가격지수(단위: 2024.2Q=100.0)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=A01+A02+A03+A04+A05+A06+A07+A08+A10+A11+A12+A13+A14+A15+A16+A17+A18+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=202501&orgId=408&tblId=DT_40801_N1201_06'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 오피스 임대가격지수_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 오피스 임대가격지수_임대가격지수
0    2018Q1    전국         99.4575170344
1    2018Q2    전국         99.2980966157
2    2018Q3    전국         99.0922657474
3    2018Q4    전국         98.9510079623
4    2019Q1    전국         98.9532135716
..      ...   ...                   ...
488  2024Q1    제주        100.1308781075
489  2024Q2    제주                   100
490  2024Q3    제주         99.8931607286
491  2024Q4    제주         99.1672101373
492  2025Q1    제주         99.0096222119

[493 rows x 3 columns]

In [253]:
# 상권별 중대형상가 임대가격지수(단위: 2024.2Q=100.0)
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=T001+&objL1=A01+A02+A03+A04+A05+A06+A07+A08+A09+A10+A11+A12+A13+A14+A15+A16+A17+A18+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=202501&orgId=408&tblId=DT_40801_N2201_06'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
temp_df = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()
temp_df

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 중대형상가 임대가격지수_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 중대형상가 임대가격지수_임대가격지수
0    2018Q1    전국          104.9779512231
1    2018Q2    전국          104.9547169524
2    2018Q3    전국          104.9010485451
3    2018Q4    전국          104.6803764941
4    2019Q1    전국          104.5594064038
..      ...   ...                     ...
517  2024Q1    제주          100.2920354272
518  2024Q2    제주                     100
519  2024Q3    제주           99.8303246702
520  2024Q4    제주           99.7483290915
521  2025Q1    제주           99.5645162806

[522 rows x 3 columns]

In [274]:
# 상권별 소규모 상가 공실률(단위 : %)
# 2018
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=201904&orgId=408&tblId=DT_40801_N420201_01'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df1 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2019
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201901&endPrdDe=201904&orgId=408&tblId=DT_40801_N420201_02'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df2 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2020
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202001&endPrdDe=202004&orgId=408&tblId=DT_40801_N420201_03'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df3 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2021
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=600+611+626+627+628+629+630+631+636+641+642+643+644+645+646+647+648+650+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202101&endPrdDe=202104&orgId=408&tblId=DT_40801_N420201_04'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df4 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2022
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=600+611+626+627+628+629+630+631+636+641+642+643+644+645+646+647+648+650+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202201&endPrdDe=202204&orgId=408&tblId=DT_40801_N420201_05'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df5 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

temp_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 소규모 상가 공실률_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 소규모 상가 공실률_공실률
0    2018Q1    전국                4.7
1    2018Q2    전국                5.2
2    2018Q3    전국                5.6
3    2018Q4    전국                5.3
4    2018Q1    서울                3.7
..      ...   ...                ...
355  2022Q4    경남       7.7068800103
356  2022Q1    제주       2.5406188728
357  2022Q2    제주       2.5406188728
358  2022Q3    제주       4.3574716582
359  2022Q4    제주       3.6686193152

[360 rows x 3 columns]

In [279]:
# 상권별 오피스 공실률 (단위 : %)
# 2018
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=201804&orgId=408&tblId=DT_40801_N120201_01'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df1 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2019
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201901&endPrdDe=201904&orgId=408&tblId=DT_40801_N120201_02'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df2 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2020
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202001&endPrdDe=202004&orgId=408&tblId=DT_40801_N120201_03'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df3 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2021
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=100+111+126+127+128+129+130+131+141+142+143+144+145+146+147+148+150+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202101&endPrdDe=202104&orgId=408&tblId=DT_40801_N120201_04'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df4 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2022
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=100+111+126+127+128+129+130+131+141+142+143+144+145+146+147+148+150+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202201&endPrdDe=202204&orgId=408&tblId=DT_40801_N120201_05'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df5 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

temp_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 오피스 공실률_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 오피스 공실률_공실률
0    2018Q1    전국            12.7
1    2018Q2    전국            13.2
2    2018Q3    전국            12.7
3    2018Q4    전국            12.4
4    2018Q1    서울            11.9
..      ...   ...             ...
335  2022Q4    경남   17.2263960105
336  2022Q1    제주    6.6529683413
337  2022Q2    제주    6.6529683413
338  2022Q3    제주    6.6529683413
339  2022Q4    제주    6.6529683413

[340 rows x 3 columns]

In [284]:
# 상권별 중대형 상가 공실률(단위 : %)
# 2018
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201801&endPrdDe=201804&orgId=408&tblId=DT_40801_N220201_01'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df1 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2019
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=201904&endPrdDe=201904&orgId=408&tblId=DT_40801_N220201_02'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df2 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2020
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=10+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202001&endPrdDe=202004&orgId=408&tblId=DT_40801_N220201_03'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df3 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2021
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=200+211+226+227+228+229+230+231+236+241+242+243+244+245+246+247+248+250+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202104&endPrdDe=202104&orgId=408&tblId=DT_40801_N220201_04'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df4 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

# 2022
url = f'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey={apiKey}=&itmId=H1+&objL1=200+211+226+227+228+229+230+231+236+241+242+243+244+245+246+247+248+250+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&startPrdDe=202201&endPrdDe=202204&orgId=408&tblId=DT_40801_N220201_05'
r = requests.get(url, verify=False)
jo = r.json()
df = pd.DataFrame(jo)
df5 = df[['TBL_NM', 'ITM_NM', 'PRD_DE', 'C1_NM', 'DT']].copy()

temp_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# 추출 데이터가 월단위 데이터이므로, 이를 Quater 단위로 변환
# 월 → 분기(Q1~Q4)로 변환하는 함수 : 3,6,9,12월 자료만 Quater로 변환하고 나머지는 Unknown 처리
# 데이터가 Q1~Q4가 아니라 '01~04'로 표기되어 있음
def month_to_quarter(prd):
    year = prd[:4]
    month = prd[-2:]
    if month in ['01']:
        quarter = 'Q1'
    elif month in ['02']:
        quarter = 'Q2'
    elif month in ['03']:
        quarter = 'Q3'
    elif month in ['04']:
        quarter = 'Q4'
    else:
        quarter = 'Unknown'
    return f"{year}{quarter}"

# 조건 기준들
filter_1 = temp_df['ITM_NM'].drop_duplicates().values.tolist()

# API Data를 DataFrame형태로 저장할 딕셔너리
split_dfs = {}

# 조건 조합 반복
for s in filter_1:
    newColName = f"상권별 오피스 공실률_{s}"        
    filtered = temp_df[temp_df['ITM_NM'] == s]
    split_dfs[newColName] = filtered.copy()
    split_dfs[newColName].rename(columns={'DT': newColName}, inplace=True)
    split_dfs[newColName]['PRD_DE'] = split_dfs[newColName]['PRD_DE'].apply(month_to_quarter)
    # Unknown이 들어가있는 행을 삭제하여 Quater 데이터만 남김
    split_dfs[newColName] = split_dfs[newColName][~split_dfs[newColName]['PRD_DE'].str.contains('Unknown')]


# split_dfs 데이터 mergy(DataFrame Join)
first_df = list(split_dfs.values())[0]
temp_df_merged = first_df.iloc[:, [2, 3, 4]].copy()
for name, sub in list(split_dfs.items())[1:]:
    sub_unique = sub.drop_duplicates(subset=['PRD_DE', 'C1_NM'])
    temp_df_merged = temp_df_merged.merge(sub_unique.iloc[:, [2, 3, 4]], on=['PRD_DE', 'C1_NM'], how='left')  # 필요에 따라 'outer' 등으로 변경

df_merged = temp_df_merged
display(df_merged)

     PRD_DE C1_NM 상권별 오피스 공실률_공실률
0    2018Q1    전국            10.4
1    2018Q2    전국            10.7
2    2018Q3    전국            10.6
3    2018Q4    전국            10.8
4    2018Q1    서울             7.7
..      ...   ...             ...
247  2022Q4    경남   14.4089017424
248  2022Q1    제주    8.6107497483
249  2022Q2    제주    8.2907810653
250  2022Q3    제주    8.8666795101
251  2022Q4    제주    9.6408761666

[252 rows x 3 columns]

In [ ]:
# 상권별 집합 상가 공실률 (시계열이 22년 4분기 부터밖에 없음)

In [103]:

# 1) 두 컬럼만 선택해서 중복 제거
unique_pairs = df[['ITM_NM']].drop_duplicates()

# 결과 확인
print(unique_pairs)

                   ITM_NM
0                    기업체수
4   자본금 규모별 기업체수:3억~5억원미만
8               5억~10억원미만
12             10억~50억원미만
16            50억~100억원미만
20           100억~500억원미만
24                500억원이상